img {
	width: 1170px;
}

h2 {
	color: #3D58A6;
	font-size: 20px;
	margin-top: 130px;
	text-align: center;
	font-family: 'BPG Nino Mtavruli Bold';
}
strong {
  font-weight: normal;
  color: #808080;
}
p {
	line-height: 24px;
	text-align: center;
	font-family: "BPG Ingiri Arial", sans-serif;
}
footer {
	margin-left: 7px;
	margin-top: 130px;
}

svg {
		margin-left: 30px;
		margin-top: 20px;
		margin-bottom: 5px;
}

@font-face {
    font-family: 'BPG Nino Mtavruli Bold';
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); /* Legacy iOS */
}

@font-face{font-family:'BPG Nino Mtavruli Bold';src:url(../fonts/bpg-nino-mtavruli-bold-webfont.eot);src:url(../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix) format('embedded-opentype'),url(../fonts/bpg-nino-mtavruli-bold-webfont.woff2) format('woff2'),url(../fonts/bpg-nino-mtavruli-bold-webfont.woff) format('woff'),url(../fonts/bpg-nino-mtavruli-bold-webfont.ttf) format('truetype'),url(../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold) format('svg')}


nav {
		margin-left: 30px;
		margin-top: 20px;
		font-size: 22px;
		font-family: "BPG Nino Mtavruli Bold", sans-serif;
		line-height: 27px;

}

a.one:link {
	color: #3D58A6;
}
a.one:visited 
{
	color: #3D58A6;
}
a.one:hover {
	color: #3D58A6;
}

a.two:link {
	color: #3D58A6;
}
a.two:visited 
{
	color: #3D58A6;
}
a.two:hover {
	color: #3D58A6;
}
a.three:link {
	color: #EE4036;
}
a.three:visited 
{
	color: #EE4036;
}
a.three:hover {
	color: #EE4036;
}